type hal_fod_mh2lm, coredomain, domain;
hal_server_domain(hal_fod_mh2lm, hal_lineage_fod)

type hal_fod_mh2lm_exec, exec_type, system_file_type, file_type;
init_daemon_domain(hal_fod_mh2lm)

# Allow binder communication with hal_displayfeature_lge_default
binder_call(hal_fod_mh2lm, hal_displayfeature_lge_default)

# Allow hal_fod_mh2lm to find hal_displayfeature_lge_hwservice
allow hal_fod_mh2lm hal_displayfeature_lge_hwservice:hwservice_manager find;

# Allow hal_fod_mh2lm to find hal_fingerprint_hwservice_lge
allow hal_fod_mh2lm hal_fingerprint_hwservice_lge:hwservice_manager find;

# Allow hal_fod_mh2lm to write to fod sysfs
allow hal_fod_mh2lm sysfs_tp_fodstatus:file rw_file_perms;

# Allow access to the hals
hal_client_domain(hal_fod_mh2lm, hal_fingerprint)

# Allow to use wakelock
wakelock_use(hal_fod_mh2lm)
